/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

/* Fundo */
body {
  background-color: #f3f4f6;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card principal */
section {
  background: #ffffff;
  width: 500px;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

/* Título */
h1, h2 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #111827;
}

h2 {
  margin: 0;
}

/* Navegação */
nav {
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #6b7280;
  padding-bottom: 4px;
  transition: 0.2s ease;
}

nav a:hover {
  color: #111827;
}

nav a.active {
  color: #2563eb;
  font-weight: 600;
  border-bottom: 2px solid #2563eb;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
}

label, p {
  margin-bottom: 6px;
  margin-top: 20px;
  font-size: 14px;
  color: #374151;
}

p {
  font-size: 16px;
}

/* Inputs e Select */
input,
select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  outline: none;
  transition: 0.2s ease;
  background-color: #f9fafb;
  font-size: 16px;
}

input:focus,
select:focus {
  border-color: #2563eb;
  background-color: #ffffff;
}


/* Botão */
button, .reset {
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #2563eb;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease;
  font-size: 16px;
  text-decoration: none;
}

.reset {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

button:hover, .reset:hover {
  background-color: #1e40af;
}

/* Responsivo */
@media (max-width: 480px) {
  section {
    width: 90%;
  }
}
